<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="background: rgba(30,50,56,0.8);padding-top: 50px; padding-bottom: 20px;">

    <!-- Footer Elements -->
    <div class=" container-fluid">
    
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p style="color: white; font-size: x-large; font-family: 'Russo One', sans-serif;">About Us</p>
                        <p style="color: white; font-size: 16px; font-family: 'Raleway', sans-serif;">This platform provide a space where you people can discuss your doubts related to codeing,you can have your own collection of question from different platform which you can solve later on according to you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="height: 150px;">
                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item" id="fb" style="border: 1px solid #e0cece; padding: 15px 20px; margin: 0px 5px; border-radius: 20%;">
                    <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/swayam.padia.9/">
                        <i class="fab fa-facebook-f" style="font-size: 25px; color:white;"> </i>
                    </a>
                    </li>
                    <li class="list-inline-item" id="github" style="border: 1px solid #e0cece; padding: 15px 20px; margin: 0px 5px; border-radius: 20%;">
                    <a class="btn-floating btn-tw mx-1" href="https://github.com/swayam5800">
                        <i class="fab fa-github" id="gh" style="font-size: 25px; color: white;"> </i>
                    </a>
                    </li>
                    <li class="list-inline-item" id="instagram"style="border: 1px solid #e0cece; padding: 15px 20px; margin: 0px 5px; border-radius: 20%;">
                    <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com/swayampadia/">
                        <i class="fab fa-instagram" style="font-size: 25px; color: white;"> </i>
                    </a>
                    </li>
                    <li class="list-inline-item" id="mail"style="border: 1px solid #e0cece; padding: 15px 20px; margin: 0px 5px; border-radius: 20%;">
                        <a class="btn-floating btn-dribbble mx-1" href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=app">
                            <i class="fas fa-envelope" style="font-size: 25px; color: white;"> </i>
                        </a>
                        </li>
                </ul>

                <!-- Copyright --> 
                <div class="footer-copyright text-center py-3" style="color: white;font-family: 'Raleway', sans-serif;">© 2020 Copyright:
                    <a href="/" style="color: white; font-family: 'Raleway', sans-serif;">MYSELF</a>
                </div>
                <!-- Copyright -->
                <!-- Social buttons -->
            </div>
            <div class="col-md-4" style="height: 150px;">
                <p style="color: white; font-size: x-large; font-family: 'Russo One', sans-serif;">Develpoer info</p>
                <p style="color: white; font-size: 16px; font-family: 'Raleway', sans-serif;">Swayam Padia,IIT(ISM)DHANBAD, @Bachelor of Technology in Chemical Engineering. </p>
                <a class="btn btn-danger" data-toggle="popover" title="Contact" data-content="99999 99999" style="margin-top: 5px; border-radius: 20%;"><i class="fas fa-phone"></i> Contact</a>
            </div>
        </div>
    </div>
    <!-- Footer Elements -->
  
  </footer>
  <!-- Footer -->
        <!--<a href="https://www.youtube.com/"><i style="color: white; border: 1px solid white; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; background-color: rgba(113, 131, 196, 0); background-position: initial initial; background-repeat: initial initial;" class="social3 social fab fa-youtube fa-3x"></i></a>-->
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover();   
        });
    </script>
    <script>
        $(document).ready(function(){
          $(".nav-tabs a").click(function(){
            $(this).tab('show');
          });
        });
        </script>
    </body>
</html>

