<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MYSELF</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Lexend+Tera&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=IBM+Plex+Serif&family=Indie+Flower&family=Lexend+Tera&family=Libre+Franklin&family=Noto+Serif+JP:wght@700&family=Permanent+Marker&family=Raleway&family=Roboto+Slab:wght@100;400&family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Patrick+Hand&family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=IBM+Plex+Serif&family=Indie+Flower&family=Lexend+Tera&family=Noto+Serif+JP:wght@700&family=Permanent+Marker&family=Raleway&family=Roboto+Slab:wght@100;400&family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=IBM+Plex+Serif&family=Indie+Flower&family=Lexend+Tera&family=Noto+Serif+JP:wght@700&family=Permanent+Marker&family=Roboto+Slab:wght@100;400&family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=IBM+Plex+Serif&family=Indie+Flower&family=Lexend+Tera&family=Noto+Serif+JP:wght@700&family=Permanent+Marker&family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=IBM+Plex+Serif&family=Indie+Flower&family=Lexend+Tera&family=Noto+Serif+JP:wght@700&family=Permanent+Marker&family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=IBM+Plex+Serif&family=Indie+Flower&family=Lexend+Tera&family=Noto+Serif+JP:wght@700&family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4e16efa13b.js" crossorigin="anonymous"></script>
    </head>
    <body  id="colsh">
        <!--linear-gradient(to bottom, #88bdbc 16%, #254e58 100%)-->
        <nav class="navbar navbar-inverse navbar-fixed-top yup">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <a class="navbar-brand" href="/" style="font-size: x-large;">MYSELF
                        <!--<img alt="Brand" src="...">-->
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                    <!--left side of nav bar except heading-->
                    <ul class="nav navbar-nav">
                        <li><a href="/materials" style="font-size: large;">Material</a></li>
                        <li><a href="/discussions" style="font-size: large;">Discussion</a></li>
                        <li><a href="/col" style="font-size: large;">Collection</a></li>
                    </ul>
                    <!--right side of navbar-->
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/register" style="font-size: large;">Sing Up<i aria-hidden="true" class="fas fa-user-plus" style="font-size: large;"></i></a></li>
                            <li><a href="/login" style="font-size: large; ">Login<i aria-hidden="true" class="fas fa-user" style="font-size: large; padding-right: 40px;"></i></a></li>
                        <% }else{ %>
                            <li><a href="#" style="font-size: large; ">Login As <%=currentUser.username%></a></li>
                            <li><a href="/logout" style="font-size: large; ">Logout <i  aria-hidden="true" class="fas fa-sign-out-alt" style="font-size: large; padding-right: 40px; "></i></a></li>
                        <% } %>
                    </ul>
                </div><!--closing of collapse-->
        </nav>
        <div style="margin-top: 80px;"></div>
        <div class="container">
            <%if(error && error.length >0){%>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <%} %>
            <%if(success && success.length >0){%>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <%} %>
        </div>
    