    
<%- include('../partials/header') -%>  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 well">
                <iframe class="well" height="250" src="https://www.youtube.com/embed/poJfwre2PIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="well" height="250" src="https://www.youtube.com/embed/HIj8wU_rGIU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="jumbotron">
                    <p style="text-align: center; font-family: 'Lexend Tera', sans-serif; font-size: 50px;">Which language to start with</p>
                </div>
                <div class="jumbotron">
                    <p style="font-size: 30px;">
                        Getting Started With Competitive Programming
                    </p>
                    <hr>
                    <p style="font-size: 30px;">Development</p>
                    <div style="text-align: center; border: 1px solid; height: 420px; width: 770px; font-family: 'Alegreya', serif; font-size: 18px; background: white;" >
                        <img  style="height: 300px; width: 480px;" src="https://cdn-media-1.freecodecamp.org/images/1*728HWv2YP3PjY1_QmGQg1g.png" >
                        <hr style="border:0.2px solid black">
                        <div class="caption">
                            <p style="font-family: 'Alegreya', serif; font-size: 18px;">
                                Don't Worry this analysis is not for competetive Programing only.
                            </p>
                            <p style="font-family: 'Alegreya', serif; font-size: 18px;">
                                There are around 600 programming languages out there. 
                                The demand and popularity of programming languages fluctuate every year.
                                 Also, new programming languages are coming with attractive features.
                                 <br><br>
                                 So, which programming language should you learn? Learning a new programming
                                  language is always an investment of your time and brainpower. If you are a 
                                  seasoned developer or if you already know several programming languages, then
                                   you can learn a niche, modern one. Recently, I have written a blog post where 
                                   I have short-listed seven modern programming languages worth learning:
                                    <br><br>
                                    But if you are starting your programming career in 2020 or if you want to
                                     learn your first or second programming language, then it is wise to learn 
                                     one of the mainstream and established programming languages. Here I will
                                     list programming languages based on the following criteria:
                                    <br><br>
                                <ul style="font-family: 'Alegreya', serif; font-size: 18px;">
                                    <li>Already mainstream and firmly established in the Software Development industry.</li>
                                    <li>Top-ranked in the renowned programming languages ranking websites</li>
                                    <li>Popularity is increasing or stable and not sharply decreasing.</li>
                                    <li>They have a large set of libraries, frameworks, tooling support, and have</li>
                                    <li>They are demanding in the job market with a good salary.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <br><br>
                    <p style="font-size: 30px;">Getting started with cp</p>
                    <div style="text-align: center; border: 1px solid; height: 420px; width: 770px; font-family: 'Alegreya', serif; font-size: 18px; background: white; " >
                        <img src="https://blog-c7ff.kxcdn.com/blog/wp-content/uploads/2016/11/Game_deck-18-1-1.jpg" style="height: 320px; width: 400px;">
                        <hr style="border:0.2px solid black">
                        <p>
                            Choose a Programming Language: You should have the knowledge of at least one
                             programming language to step into CP. That programming language will be a tool
                              for you or you can say al language for you to build your thought process and
                               convert that into coding for a given problem. It can be anything C, C++, Java,
                                Python or any programming language you are comfortable with.
                            <br>
                            Most of the user prefer c++ as it is one of the fastest language,
                            In Choice for c/c++ ,prefer c++ as it has a vast collection of libary,and many 
                            Coder prefer.So their is a vast platform for c++ in competetive programing World.
                            <br><br>
                            But finally it's does not matter ,It's completely depend on user with which language 
                            the user is comfartable with,the thinks actually matters is the algorithm,your thinking
                             skill and your patience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/footer') -%>